################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COMSC-210 group git/.vs/COMSC-210 group git/v15/Browse.VC.opendb
/.vs/COMSC-210-JAVA/v15/Browse.VC.opendb
